.opening-page {
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  /* background-image: url("/src/media/images/backgroundImage.png"); */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;
  align-items: center;
  font-family: "CooperativeDirtyBold";
}

.opening-page-icons-container {
  margin-top: 7vh;
}

.opening-page-text-container {
  display: flex;
  flex-direction: column;
  line-height: 0.05em;
  margin-top: 3vh;
}

.opening-page-text-container-first-line {
  font-size: 3.7em;
  letter-spacing: 0.07em;
  font-weight: 100;
}

.opening-page-text-container-second-line {
  font-size: 2.45em;
  letter-spacing: 0.04em;
  font-weight: 500;
}

.opening-page-text-container-third-line {
  letter-spacing: 0.2em;
  font-weight: 500;
}

/* background classes */
.cls-1-1 {
  fill: url(#ÅÂÁ_Ï_ÌÌ_È_ËÂÌÚ_2);
}
.cls-2-1 {
  fill: url(#ÅÂÁ_Ï_ÌÌ_È_ËÂÌÚ_16);
}
.cls-3-1 {
  fill: url(#ÅÂÁ_Ï_ÌÌ_È_ËÂÌÚ_15);
}
.cls-4-1 {
  fill: url(#ÅÂÁ_Ï_ÌÌ_È_ËÂÌÚ_15-2);
}
.cls-5-1 {
  fill: url(#ÅÂÁ_Ï_ÌÌ_È_ËÂÌÚ_14);
}
.cls-6-1 {
  fill: url(#ÅÂÁ_Ï_ÌÌ_È_ËÂÌÚ_13);
}
.cls-7-1 {
  fill: url(#ÅÂÁ_Ï_ÌÌ_È_ËÂÌÚ_12);
}
.cls-8-1 {
  fill: url(#ÅÂÁ_Ï_ÌÌ_È_ËÂÌÚ_11);
}
.cls-9-1 {
  fill: url(#ÅÂÁ_Ï_ÌÌ_È_ËÂÌÚ_10);
}
.cls-10-1 {
  fill: url(#ÅÂÁ_Ï_ÌÌ_È_ËÂÌÚ_9);
}
.cls-11-1 {
  fill: url(#ÅÂÁ_Ï_ÌÌ_È_ËÂÌÚ_8);
}
.cls-12-1 {
  fill: url(#ÅÂÁ_Ï_ÌÌ_È_ËÂÌÚ_3);
}
.cls-13-1 {
  fill: url(#ÅÂÁ_Ï_ÌÌ_È_ËÂÌÚ_3-2);
}
.cls-14-1 {
  fill: url(#ÅÂÁ_Ï_ÌÌ_È_ËÂÌÚ_7);
}
.cls-15-1 {
  fill: url(#ÅÂÁ_Ï_ÌÌ_È_ËÂÌÚ_6);
}
.cls-16-1 {
  fill: url(#ÅÂÁ_Ï_ÌÌ_È_ËÂÌÚ_5);
}
.cls-17-1 {
  fill: url(#ÅÂÁ_Ï_ÌÌ_È_ËÂÌÚ_3-3);
}
.cls-18-1 {
  fill: #988421;
}
.cls-19-1 {
  fill: #15150a;
}
.cls-20-1 {
  fill: url(#ÅÂÁ_Ï_ÌÌ_È_ËÂÌÚ_3-4);
}
.cls-21-1 {
  fill: url(#ÅÂÁ_Ï_ÌÌ_È_ËÂÌÚ_3-5);
}
.cls-22-1 {
  fill: url(#ÅÂÁ_Ï_ÌÌ_È_ËÂÌÚ_4);
}
.cls-23-1 {
  fill: url(#ÅÂÁ_Ï_ÌÌ_È_ËÂÌÚ_4-2);
}
.cls-24-1 {
  fill: url(#ÅÂÁ_Ï_ÌÌ_È_ËÂÌÚ_4-3);
}
.cls-25-1 {
  fill: url(#ÅÂÁ_Ï_ÌÌ_È_ËÂÌÚ_3-6);
}
.cls-26-1 {
  fill: url(#ÅÂÁ_Ï_ÌÌ_È_ËÂÌÚ_2-2);
}
.cls-27-1 {
  fill: url(#ÅÂÁ_Ï_ÌÌ_È_ËÂÌÚ_2-3);
}
.cls-28-1 {
  fill: none;
}
