.icons-container {
  gap: 5vw;
}

.explanation-page-icons-container {
  gap: 3vw;
  margin-right: 46vw;
  margin-top: 4%;
}

.icons-container,
.explanation-page-icons-container {
  display: flex;
  flex-direction: row;
  width: 45vw;
  justify-content: flex-end;
}

.symbol,
.round-symbol {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.round-symbol {
  background-image: url("/src/media/images/roundSymbol.png");
}

.symbol {
  background-image: url("/src/media/images/symbol.png");
}

.opening-page-round-symbol {
  width: 20vw;
}

.opening-page-symbol {
  width: 17vw;
}

.opening-page-round-symbol,
.opening-page-symbol {
  height: 11vh;
}

.explanation-page-round-symbol {
  height: 7vh;
  width: 13vw;
}

.explanation-page-symbol {
  width: 11vw;
  height: 7vh;
}

/* iphone 12 pro */
@media only screen and (min-width: 390px) and (min-height: 844px) {
  .explanation-page-icons-container {
    margin-top: 6%;
  }
}
