.second-map {
    position: absolute;
    width: 57%;
    margin-right: 20%;
    margin-top: -34%;
}  

.draggable-answer-map2 {
  /* font-size: 1.2em; */
  font-size: 1.03em;
  width: fit-content;
  max-width: 30vw;
  white-space: pre-wrap;
}

.father-of-draggable-answers-map2 {
  position: absolute;
  width: fit-content;
  max-width: 86vw;
  height: fit-content;
  max-height: 30vh;
  /* margin-top: 77vh; */
  margin-top: 135%;
  margin-right: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 0.5vh;
  column-gap: 0.3vw;
  justify-content: center;
  z-index: 2;
}

.father-of-drop-containers-map2 {
    position: absolute;
    width: 100vw;
    height: 80vh;
    margin-top: -12vh;
    z-index: 1;
}

.father-of-symbols {
    position: absolute;
    width: 70%;
    height: 73%;
    margin-right: 20%;
    margin-top: -34%;
}

.symbols {
    background-size: 100% 100%;
    position: absolute;
}

.logo0 {
    background-image: url("/src/media/images/logo-Shahaf.png");
    width: 6vw;
    height: 4vh;
    margin-top: 17%;
    margin-right: 27%;
}

.logo3 {
    background-image: url("/src/media/images/logo-Ait.png");
    width: 6vw;
    height: 4vh;
    margin-top: 7%;
    margin-right: 6%;
}