.explanation-page {
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  background: rgb(106, 90, 0);
  background: linear-gradient(
    180deg,
    rgba(144, 123, 4, 1) 6%,
    rgba(180, 164, 52, 1) 29%,
    rgba(192, 176, 60, 1) 50%,
    rgba(222, 214, 154, 1) 62%,
    rgba(255, 255, 255, 1) 85%
  );
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;
  align-items: center;
  font-family: "CooperativeRegular";
}

.explanation-page-text-0 {
  font-size: 2.2em;
  /* width: 54vw; */
  width: 54%;
  margin-top: 10%;
  /* margin-top: 6vh; */
  letter-spacing: 0.02em;
}

.explanation-page-answer-button {
  margin-top: -4%;
}

.explanation-page-headline {
  margin-top: 2%;
  width: fit-content;
  height: fit-content;
  font-size: 3em;
  max-width: 88vw;
  max-height: 14vh;
  letter-spacing: 0.02em;
}

.explanation-page-text-1 {
  font-size: 1.5em;
  width: 75vw;
  margin-top: -8%;
  white-space: pre-wrap;
  z-index: 1;
}

.explanation-page-text-2 {
  font-size: 1.7em;
  width: 68vw;
  /* margin-top: -3vh;  */
  margin-top: -6%;
  white-space: pre-wrap;
}

.explanation-page-text-3 {
  /* margin-top: 15vh; */
  margin-top: 30%;
}

.explanation-page-text-4 {
  margin-top: 12vh;
}

.explanation-page-text-3,
.explanation-page-text-4 {
  font-size: 2.5em;
  width: 65vw;
  letter-spacing: 0.05em;
}

.cls-25-2 {
  fill: url(#exp-clouds-color-1);
}
.cls-26-2 {
  fill: url(#exp-clouds-color-2);
}

/* iphone 12 pro */
@media only screen and (min-width: 390px) and (min-height: 844px) {
  .explanation-page-text-0 {
    font-size: 2.5em;
    width: 58%;
    margin-top: 15%;
  }

  .explanation-page-headline {
    margin-top: 7%;
  }

  .explanation-page-text-1 {
    font-size: 1.6em;
    margin-top: -5%;
  }

  .explanation-page-answer-button {
    margin-top: -1%;
  }

  .explanation-page-text-2 {
    font-size: 1.8em;
    margin-top: -4%;
  }

  .explanation-page-text-3 {
    font-size: 3em;
    width: 68vw;
    margin-top: 25%;
  }

}

/* Galaxy S20 FE */
@media only screen and (min-width: 412px) and (min-height: 914px) {
  .explanation-page-text-0 {
    font-size: 2.5em;
    width: 58%;
    margin-top: 25%;
    z-index: 1;
  }
}