.american-question-page {
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  background: rgb(0,43,177);
  background: linear-gradient(180deg, rgba(0,43,177,0.9220063025210083) 0%, rgba(105,196,222,1) 50%, rgba(255,255,255,0.9920343137254902) 76%);
  /* background: linear-gradient(180deg, rgba(0,43,177,0.9220063025210083) 0%, rgba(105,196,222,1) 40%, rgba(255,255,255,0.9920343137254902) 69%); */  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;
  align-items: center;
  font-family: "CooperativeRegular";
}

.question-text-conatiner {
  margin-top: 3vh;
  width: fit-content;
  height: fit-content;
  font-size: 1.9em;
  font-weight: 200;
  max-width: 88vw;
  max-height: 14vh;
}

.feedback-to-answer-text {
  font-family: Shluk;
  margin-top: 2vh;
  letter-spacing: 0.07em;
  -webkit-text-stroke: 0.03em black;
  color: black;
  font-size: 2em;
  z-index: 2;
}

.american-questions-page-answer-button {
  margin-top: -4vh;
}

.desert-svg-questions {
  position: absolute;
  margin-top: 110%;
  z-index: 0;
}