.finished-page-text {
  font-size: 3.7em;
  width: 80vw;
  margin-top: 6vh;
  white-space: pre-wrap;
  z-index: 1;
  letter-spacing: 0.06em;
}

/* iphone 12 pro */
@media only screen and (min-width: 390px) and (min-height: 844px) {
  .finished-page-text {
    margin-top: 10vh;
  }
}
